# Ignorar archivos de Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so

# Entorno virtual
venv/
env/
ENV/

# Base de datos
*.sqlite3
db.sqlite3

# Archivos de Django
*.log
local_settings.py

# Archivos estáticos
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
